﻿@model PruebaTecnica.Data.Entities.AlumnoGrado

<div class="form-group row">
    <label asp-for="Seccion" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <input asp-for="Seccion" class="form-control" />
        <span asp-validation-for="Seccion"></span>
    </div>
</div>



<div class="form-group row">
    <label asp-for="Grado" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <select asp-for="GradoId" asp-items="@ViewBag.GradosList">
        </select>
        <span asp-validation-for="Grado"></span>
    </div>
</div>


<div class="form-group row">
    <label asp-for="Alumno" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <select asp-for="AlumnoId" asp-items="@ViewBag.AlumnosList">
        </select>
        <span asp-validation-for="Alumno"></span>
    </div>
</div>


