﻿@model PruebaTecnica.Data.Entities.AlumnoGrado

@{
    ViewData["Title"] = ViewBag.titulo;

}

<h2>Crear Seccion</h2>


<div class="row">

    <div class="col-8">

        <form asp-action="Create">        
            
            <partial name="_seccion"/>

            <div class="form-group">
                <button class="btn btn-primary " type="submit">Guardar Seccion</button>
                <button class="btn btn-danger">Cancelar</button>

            </div>



        </form>

    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Secciones" asp-action="index">Regresar</a>
</div>

