﻿@model PruebaTecnica.Data.Entities.AlumnoGrado

@{
    ViewData["Title"] = ViewBag.titulo;
}


<h2>Informacion de: </h2>
<div class="row">

    <div class="col-8">

        <form>


            <div class="form-group row">
                <label asp-for="Seccion" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <input asp-for="Seccion" class="form-control" readonly />
                    <span asp-validation-for="Seccion"></span>
                </div>
            </div>



            <div class="form-group row">
                <label asp-for="Grado" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="GradoId" asp-items="@ViewBag.GradosList" disabled>
                    </select>
                    <span asp-validation-for="Grado"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="Alumno" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="AlumnoId" asp-items="@ViewBag.AlumnosList" disabled>
                    </select>
                    <span asp-validation-for="Alumno"></span>
                </div>
            </div>






        </form>




    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Secciones" asp-action="index">Regresar</a>
</div>

