﻿@model IEnumerable<PruebaTecnica.Data.Entities.AlumnoGrado>

@{
    ViewData["Title"] = ViewBag.titulo;
}

<h1>Listado Secciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Seccion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seccion)
            </th>
            <th>
                Alumno
            </th>
            <th>
                Seccion
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Grado.Nombre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm btn">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
