﻿@model PruebaTecnica.Data.Entities.Profesor

<div class="form-group row">
    <label asp-for="Nombre" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre"></span>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Apellidos" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos"></span>
    </div>
</div>


<div class="form-group row">
    <label asp-for="Genero" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <select asp-for="Genero">
            <option value="" disabled="" selected="">Seleccione el Genero</option>
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
        </select>
        <span asp-validation-for="Genero"></span>
    </div>
</div>

