﻿@model PruebaTecnica.Data.Entities.Alumno

@{
    ViewData["Title"] = ViewBag.titulo;

}

<h2>Crear Alumno</h2>


<div class="row">

    <div class="col-8">

        <form asp-action="Create">        
            
            <partial name="_alumnos"/>

            <div class="form-group">
                <button class="btn btn-primary " type="submit">Guardar Alumno</button>
                <button class="btn btn-danger">Cancelar</button>

            </div>



        </form>

    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Alumnos" asp-action="index">Regresar</a>
</div>

