﻿@model PruebaTecnica.Data.Entities.Alumno

@{
    ViewData["Title"] = ViewBag.titulo;
}


<h2>Informacion de: </h2>
<div class="row">

    <div class="col-8">

        <form >          

            <div class="form-group row">
                <label asp-for="Nombre" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <input asp-for="Nombre" class="form-control"  readonly/>
                    <span asp-validation-for="Nombre"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Apellidos" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <input asp-for="Apellidos" class="form-control" readonly />
                    <span asp-validation-for="Apellidos"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="Genero" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10 disabled" >
                    <select asp-for="Genero"  disabled>
                        <option value="" disabled= "" >Seleccione el Genero</option>
                        <option value="F" di>Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                    <span asp-validation-for="Genero"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="FechaNacimiento" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <input asp-for="FechaNacimiento" class="form-control" readonly/>
                    <span asp-validation-for="FechaNacimiento"></span>
                </div>
            </div>




        </form>




    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Alumnos" asp-action="index">Regresar</a>
</div>

