﻿@model PruebaTecnica.Data.Entities.Grado

<div class="form-group row">
    <label asp-for="Nombre" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre"></span>
    </div>
</div>



<div class="form-group row">
    <label asp-for="Profesor" class="form-label col-form-label text-sm-right col-sm-2"></label>
    <div class="input-group col-sm-10">
        <select asp-for="ProfesorId" asp-items="@ViewBag.ProfesoresList">
            
        </select>
        <span asp-validation-for="Profesor"></span>
    </div>
</div>

