﻿@model PruebaTecnica.Data.Entities.Grado

@{
    ViewData["Title"] = ViewBag.titulo;
}


<h2>Informacion de: </h2>
<div class="row">

    <div class="col-8">

        <form>


            <div class="form-group row">
                <label asp-for="Nombre" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <input asp-for="Nombre" class="form-control" readonly/>
                    <span asp-validation-for="Nombre"></span>
                </div>
            </div>



            <div class="form-group row">
                <label asp-for="Profesor" class="form-label col-form-label text-sm-right col-sm-2"></label>
                <div class="input-group col-sm-10">
                    <select asp-for="ProfesorId" asp-items="@ViewBag.ProfesoresList" disabled>
                    </select>
                    <span asp-validation-for="Profesor"></span>
                </div>
            </div>



        </form>




    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Grados" asp-action="index">Regresar</a>
</div>

