﻿@model PruebaTecnica.Data.Entities.Grado

@{
    ViewData["Title"] = ViewBag.titulo;
}


<h2>Informacion de: </h2>
<div class="row">

    <div class="col-8">

        <form asp-action="Edit">

            <partial name="_grado" />         

            
            <div class="form-group">
                <button class="btn btn-primary " type="submit">Guardar Grado</button>
                <button class="btn btn-danger">Cancelar</button>
            </div>


        </form>




    </div>
    <div class="col-4"></div>


</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Grados" asp-action="index">Regresar</a>
</div>

